h1 {
    font-size: 45px;
    text-align: center;
    color: darkblue;
    text-shadow: 
        1px 1px 1px white;
    margin-bottom: 45px;
}

p {
    padding-left: 400px;
    padding-right: 400px;
    text-align: justify;
    font-size: 20px;
    color: ActiveBorder;
    text-shadow: 0px 1px 1px white;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

body {
    background-color: black;
}