
@{
    ViewBag.Title = "AddCourse";
}

<h2>Add Course</h2>

<form action="/Home/AddNewCourse" class="form-group" method="post">
    <input type="hidden" name="Id" class="form-control" /><br />
    <input type="text" name="Name" placeholder="Name of Course" class="form-control" /><br />
    <input type="text" name="Category" placeholder="Course Category" class="form-control" /><br />
    <input type="submit" class="btn" value="Add New Course" /><br /><br />
    <input type="reset" class="btn" value="Reset Form" />
</form>