
@{
    ViewBag.Title = "Confirm";
}

<h2>Information Confirmed</h2>
    
<h3>@ViewBag.ConfMessage1</h3>
<h3>@ViewBag.ConfMessage2</h3>
<h3>@ViewBag.ConfMessage3</h3>
<h3>@ViewBag.ConfMessage4</h3>




