@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to the GC Coffee Shop! </h2>
<a href="/Home/UserRegistration">Register Here</a>

<ul>
    <li>
        @*put list of items from table "Items" from database here...*@
        <input id="searchBar" type="search" name="searchBar" class="search" />
    </li>
</ul>
