@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to the GC Coffee Shop! </h2>
<link href="~/Content/Index.css" rel="stylesheet" />

<h10>Would you like to receive updates to what we have in stock?: </h10>
<a href="/Home/UserRegistration">Register Here</a>

<br /> <br /> <br />

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>
        <th>
            Delete Item
        </th>
    </tr>

    @foreach (dynamic item in ViewBag.ItemsList)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Quantity</td>
            <td>@item.Price</td>
            <td><a href="~/Home/DeleteItem?Name=@item.Name" onclick="return confirm('Are you sure?')" 
                   class="btn btn-danger btn-sm">Delete</a></td>
        </tr>
    }

</table>

<a href="~/Home/AddItem" class="btn">Add New Item</a>
@*

    - add a link to add a new item (another view)
        * call a different action that saves the information
    - add a link to delete an item that goes back to list page(admin)
    - add a link to edit an item(another view)
        * call a different action that saves the information
*@

@*<ul>
        <li>
            put list of items from table "Items" from database here...
            <input id="searchBar" type="search" name="searchBar" class="search" />
        </li>
    </ul> *@
