
@{
    ViewBag.Title = "UserRegistration";
}

<h2>Registration</h2>
<h4>@ViewBag.AddedUser</h4>
<br /> <br /> <br /> 
<link href="~/Content/UserRegistration.css" rel="stylesheet"/>
<script src="~/Scripts/Validation.js"></script>

<form action="/Home/AddUser" method="post">
    <div class="flex-container">
        <input id="FirstName" type="text" name="FirstName" class="form-control" placeholder="Tom" onkeyup="ValidateFirstName()"/> 
        <label class="control-label">First Name</label> <p id="empty1" class="validateMessage"></p>
    </div>
    <br />
    <div class="flex-container">
        <input id="LastName" type="text" name="LastName" class="form-control" placeholder="Smith" onkeyup="ValidateLastName()" /> 
        <label class="control-label">Last Name</label> <p id="empty2" class="validateMessage"></p>
    </div>
    <br />
    <div class="flex-container">
        <input id="Email" type="text" name="Email" class="form-control" placeholder="example@example.com" onkeyup="ValidateEmail()" /> 
        <label class="control-label">Email</label> <p id="empty3" class="validateMessage"></p>
    </div>
    <br />
    <div class="flex-container">
        <input id="Phone" type="text" name="Phone" class="form-control" placeholder="XXX-XXX-XXXX OR XXXXXXXXXX" onkeyup="ValidatePhone()"/> 
        <label class="control-label">Phone Number</label> <p id="empty4" class="validateMessage"></p>
    </div>
    <br />
    <div class="flex-container">
        <input id="Password" type="password" name="Password" class="form-control" placeholder="letter and underscores(4-15 characters)" onkeyup="ValidatePassword()"/> 
        <label class="control-label">Password</label> <p id="empty5" class="validateMessage"></p>
    </div>
    <br /> <br /> <br />
    <input type="submit" value="Sign Up!" class="btn-default" />
</form>